{:duct.core/project-ns  portillon
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main portillon.client}

 :duct.server.http/jetty {:port 3000
                          :async? true
                          :handler #ig/ref :duct.core/handler}

 :duct.router/cascading [#ig/ref :portillon/front]

 :portillon/front {}}
