{:duct.core/project-ns  portillon
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main portillon.client}

 ;; :duct.server.http/aleph
 ;; {:port    3000
 ;;  :handler #ig/ref :duct.core/handler
 ;;  :logger  #ig/ref :duct/logger}

 :duct.server.http/jetty {:port 3000
                          :async? true
                          :handler #ig/ref :duct.core/handler}

 ;; :duct.module/ataraxy
 ;; {[:get "/example"] [:example]}

 ;;:duct.router/cascading [#ig/ref :portillon.handler/example]

 :duct.core/handler {:router #ig/ref :portillon.handler/example
                     :middleware []}


 :portillon.handler/example
 {}}
